.post-header {
	background-color: #e3f2fd;
	font-weight: bold;
}
.post-footer {
	background-color: #e3f2fd;
}
.label-dropdown {
	font-weight: bold;
}
.post-title {
	font-weight: bold;
}
.post-fulladdress {
	font-weight: bold;
	color: blue;
}
.thumb img {
            -webkit-filter: grayscale(0);
            filter: none;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 5px;
		width: 100%;
        }

.thumb img:hover {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }

.thumb {
            padding: 5px;
        }
#city-box {
	height: 200px;
	overflow: auto;
	z-index: 100;
	display: none;
	position: absolute;
}
.zebra {
  list-style: none;
  border-left: 10px solid #71BE00;
  padding: 0;
}
.zebra li {padding: 10px;}
.zebra li:nth-child(odd) {background: #E1F1FF;}
.zebra li:nth-child(even) {background: white;}

.progress-button {
    position: relative;
    display: inline-block;
    text-align: center;
}

.next-button {
    position: relative;
    display: inline-block;
    text-align: center;
}

.delete-button {
    position: relative;
    display: inline-block;
    text-align: center;
}

.progress-button {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    border: 1px solid #228B22;
    border-radius: 40px;
    background: transparent;
    color: #228B22;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.progress-button:hover{
    border-color: #228B22;
    background-color: #228B22;
    color: #fff;
}

.next-button {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    border: 1px solid #ffc107;
    border-radius: 0.375rem;
    background-color: #ffc107;
    /*background: transparent;*/
    color: #fefefe;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.next-button:hover{
    border-color: #ffca2c;
    background-color: #ffca2c;
    color: #fff;
}

.delete-button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100px;
    height: 40px;
    border: 1px solid #a52834;
    border-radius: 40px;
    background: transparent;
    color: #a52834;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.delete-button:hover{
    border-color: #a52834;
    background-color: #a52834;
    color: #fff;
}

/*classes of dialogs*/

.tabs {
    font-size: 0;
}

.tabs>input[type="radio"] {
    display: none;
}

.tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
    display: block;
}

.tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs>label:not(:first-of-type) {
    border-left: none;
}

.tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
