.post-header {
	background-color: #e3f2fd;
	font-weight: bold;
}
.post-title {
	font-weight: bold;
}
.post-fulladdress {
	font-weight: bold;
	color: blue;
}
.thumb img {
            -webkit-filter: grayscale(0);
            filter: none;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 5px;
		width: 100%;
        }

.thumb img:hover {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }

.thumb {
            padding: 5px;
        }
.progress-button {
    position: relative;
    display: inline-block;
    text-align: center;
}

button.progress-button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100px;
    height: 40px;
    border: 2px solid #1ECD97;
    border-radius: 40px;
    background: transparent;
    color: #1ECD97;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

button.progress-button:hover{
    border-color: #1ECD97;
    background-color: #1ECD97;
    color: #fff;
}



