body {
    background-color: #fff;
}

.main-header {
    display: flex;
    // position: fixed;
    z-index: 600;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px #e0e0e0 solid;
    background-color: #464b53;
    background-repeat: no-repeat;
    -webkit-background-position: center top;
    background-position: center top;
    color: #ffffff;
}

.main-header .nav-link {
    color: #fff;
    font-weight: 500;
}

.main-header .nav-link:hover {
    background-color: #596064;
    color: #ffffff;
}

.main-header .nav-link svg {
    width: 13px;
    margin-right: 5px;
}

.main-header .nav-link svg path {
  fill:#fff;
}

.main-header  .nav-link.dropdown-toggle::after {
    margin-left: 0.5em;
}




.home-page {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 70%) 0% 0%,url(https://statics.otodom.pl/fp_statics/images/homepage/otodom_homepage_background.webp);
    background-size: cover;
    color: #ffffff;
}

.home-page  .css-1kqh57f {
    // display: none;
    margin: 0 0 52px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 2px 1px rgb(0 0 0 / 60%);
    font-size: 40px;

}

.css-1kqh57f small {
    display: block;
    font-size: 24px;
    font-weight: 500;
}

.home-page .home-form {
    background: #acafb7a8;
}

.css-jvvr2h {
    width: 152px;
    height: 60px;
    // margin-left: 10px;
    object-fit: contain;
}

// .main-footer {
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }

.main-wrapper {
    min-height: calc(100vh - 222px);
}

.main-footer a {
    font-size: 12px;
    line-height: 20px;
    color: #757575;
    text-decoration: none;
}

 h2.form-title {
    font-size: 32px !important;
    font-weight: 700 !important;
    text-shadow: 1px 1px 1px rgb(48 48 48 / 35%);
}

.home-page-card .form-card .form-link {
    display: block;
    position: relative;
    height: 220px;
    // min-width: 250px;
    line-height: calc(20 / 14);
}

.home-page-card .form-card .img-fluid {
    width: 100%;
    height: 220px;
    line-height: calc(1.42857);
    object-fit: cover;
}

.home-page-card .form-card .form-text {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.home-page-card {
    background: transparent;
    border: none;
}

.home-page-card .form-card .form-text .post-title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-page-card .form-card .form-text .post-fulladdress {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-form .nav {
    --bs-nav-link-color: #fff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
    font-weight: 700;
}

.home-form .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent;
}

.home-form .nav-link:hover, .nav-link:focus {
    color: #c6c8cb;
}

.home-form .nav-tabs {
    --bs-nav-tabs-border-color: transparent;
}

.nav-tabs .nav-link {
    border-bottom-left-radius: var(--bs-nav-tabs-border-radius);
    border-bottom-right-radius: var(--bs-nav-tabs-border-radius);
}



