.all-posts-page .messages-card {
    background: #fff;
    border: none;
    border-radius: 0;
    height: 208px;
}

.bg-all-posts {
    min-height: calc(100vh - 222px);
}

.card-header.css-1qi2050 {
    background: rgb(255, 255, 255);
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: sticky;
    z-index: 1020;
    top: 0px;
    left: 0px;
    min-height: 64px;
}

.card-header .css-1c5er82 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    height: 56px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    order: 2;
}

.card-header .css-1c7bw5f {
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0px 24px 0px 0px;
    min-height: 40px;
    position: relative;
    text-decoration: none;
    line-height: 18px;
    background: transparent;
    border: 0px;
    color: rgb(0, 47, 52);
    font-size: 12px;
    letter-spacing: 0.8px;
    padding: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: none;
    font-weight: normal;
}

.card-header .css-1tgza5l {
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 47, 52);
    margin: 0px -8px 0px 8px;
}

.card-header .css-117h4lg {
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0px;
    min-height: 40px;
    position: relative;
    text-decoration: none;
    line-height: 18px;
    background: transparent;
    border: 0px;
    color: rgb(0, 47, 52);
    font-size: 12px;
    letter-spacing: 0.8px;
    padding: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: none;
    font-weight: normal;
}

.card-header .css-xrmiit {
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 47, 52);
    margin: 0px 0px 0px 8px;
}

.css-1382m1k {
    background-color: rgb(250, 251, 251);
    padding: 16px 16px 0 16px;
}

/*classes of tabs*/

.message-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

.tabs>#content-1,
.tabs>#content-2,
.tabs>#content-3 {
    /* скрыть контент по умолчанию */
    display: none;
    padding: 10px 15px;
    font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
    display: block;
}

.tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #fFF;
    border: 2px solid rgb(35, 46, 63);
    color: rgb(35, 46, 63);
    border-radius: 0.375rem;
    padding: 5px 10px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs>label h4 {
    font-weight: 600;
    font-size: 14px;
    color: rgb(35, 46, 63);
}


.tabs>input[type="radio"].message-checkbox:checked+label {
    background-color: rgb(35, 46, 63);
    border: 2px solid rgb(35, 46, 63);
}

.tabs>input[type="radio"].message-checkbox:checked+label>h4 {
    color: #FFF;
}

.css-19tty9x {
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 47, 52);
    text-transform: uppercase;
    height: 40px;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    margin: 0px -32px;
    padding: 0px 16px;
    border-bottom: 1px solid rgb(216, 223, 224);
}

.css-1rknqns {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 72px;
    position: relative;
    margin: 0px -16px;
    padding: 0px 16px;
}

.css-y3uyfk {
    display: flex;
    flex-direction: row;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    z-index: 3;
}

.css-1oc165u {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: rgb(0, 47, 52);
    margin: 0px;
}

.css-1ks0ui5 {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.css-1cwveox:first-of-type {
    border-top: none;
}

.css-1cwveox {
    position: relative;
    border-top: 1px solid rgb(216, 223, 224);
}

@media screen and (min-width: 992px){
    .css-1cwveox {
        margin: 0px -32px;
        padding: 0px 16px;
        background-color: rgb(233, 252, 251);
    }

    .css-1o8agjl {
        margin: 0px -32px;
        padding: 0px 16px;
    }

    .css-14wbffc {
        width: 44px;
    }

    .css-6q6hwe {
        width: 40px;
        height: 40px;
        position: relative;

    }

    .css-6q6hwe::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        left: 7px;
        top: 6px;
        background-image: url('/img/images/user.svg');
        background-repeat: no-repeat;
        background-size: 50%;
    }

    .css-zm0vdp {
        width: 40px;
        height: 40px;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.css-1b3tih6 {
    text-decoration: none;
    height: 80px;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    font-weight: normal;
    position: relative;
    user-select: none !important;
}

.css-14wbffc {
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;
    width: 40px;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 4px;
}

.css-6q6hwe {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid rgb(216, 223, 224);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(242, 244, 245);
    overflow: hidden;
}

.css-zm0vdp {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.css-1v35hpt {
    display: flex;
    flex-direction: column;
    min-width: 0px;
    margin-right: auto;
}

.css-miqdd3 {
    font-weight: inherit;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-8sr34w {
    font-size: 14px;
    line-height: 18px;
    color: rgb(127, 151, 153);
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-miqdd3 {
    font-weight: inherit;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-1ne2gb9 {
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 47, 52);
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: inherit;
}

.css-h2zp4w {
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(64, 99, 103);
    font-weight: inherit;
}

.css-17jarbz {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 8px;
    flex: 0 0 auto;
}

.css-1gdtsar {
    font-size: 14px;
    line-height: 18px;
    margin: 0px;
    font-weight: inherit;
    color: rgb(127, 151, 153);
}

.css-35mg35 {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    background: none;
    cursor: pointer;
}


button {
    overflow: visible;
    border: none;
    padding: 0px;
    outline: none;
    font-weight: inherit;
}

.css-1o8agjl {
    position: relative;
    border-top: 1px solid rgb(216, 223, 224);
}


.card.messages-card {
    max-width: min(1238px, 100vw - 64px);
    height: calc(100vh - 58px);
    min-height: 512px;
    max-height: 1152px;
    padding: 32px 0px;
    background-color: rgb(242, 244, 245);
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin: auto;
    width: 100%;
    scroll-margin-top: 64px;
}

.card.messages-card {
    max-width: min(1238px, 100vw - 64px);
    height: calc(100vh - 58px);
    min-height: 512px;
    max-height: 1152px;
    padding: 32px 0px;
    background-color: rgb(242, 244, 245);
    display: flex;
    align-items: stretch;
    margin: auto;
    width: 100%;
    scroll-margin-top: 64px;
}

.css-15ecjq0 {
    background-color: white;
    // margin: 0px -16px;
}

.css-r2eb4p {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 16px;
    background-color: rgb(255, 255, 255);
    min-height: 56px;
    border-bottom: 1px solid rgb(216, 223, 224);
}

.css-1pdwz19 {
    display: flex;
    flex-basis: 100%;
    margin: 0px;
    -webkit-box-align: center;
    align-items: center;
    // width: 75%;
    opacity: 1;
    cursor: pointer;
}

.css-57oefn {
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.css-13zt7wj {
    color: rgb(0, 47, 52);
    width: 32px;
    height: 32px;
    min-height: 32px;
    min-width: 32px;
}

.css-3rns13 {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    color: rgb(0, 47, 52);
    -webkit-box-pack: center;
    justify-content: center;
    width: 85%;
}

.css-1povu0j {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-1ryldw8 {
    font-size: 16px;
    line-height: 20px;
    color: rgb(0, 47, 52);
    margin: 0px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-ekdwwt {
    font-size: 12px;
    line-height: 14px;
    color: rgb(127, 151, 153);
    margin: 0px;
}

.css-1t0qnkx {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-17zqm6 {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 16px;
    margin-right: -4px;
}

.css-11f3fck {
    display: flex;
    flex-direction: row;
}

.css-1j2m7z7 {
    display: flex;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    text-align: start;
    min-width: 48px;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
}

.css-aogond {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    padding: 12px 16px;
    background-color: rgb(255, 255, 255);
    height: 64px;
}

.css-tdboqd {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 48px;
    height: 40px;
    border: 1px solid rgb(216, 223, 224);
    background-color: rgb(242, 244, 245);
    border-radius: 2px;
}

.css-164dfnt {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 16px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-width: 0px;
}

.css-miqdd3 {
    font-weight: inherit;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-zma87s {
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 47, 52);
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-1fulx0y {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
}

.css-opmpga {
    font-size: 14px;
    line-height: 18px;
    color: rgb(0, 47, 52);
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.css-o2pjpx {
    font-size: 12px;
    line-height: 14px;
    margin: 0px 0px 0px auto;
    color: rgb(127, 151, 153);
    flex-shrink: 0;
}

